body{
  background-color: #E0E2DB;
}
.header{
background-color: #1D1E2C;
color: #D7CDCC;
margin-left: 0%;
margin-top: 0%;
height: 75px;
font-size: 55px;
width: 100%;
font-size-adjust: inherit;
font-family: 'Roboto Mono', monospace;
}
.mainlayout{
display: flex;
flex-direction: row;
}
ul{
list-style-type: none;
float: center;
display: contents;
}
li {
margin-top: 5px;
margin-left: 30%;
align-content: center;
float: center;
}
.categories{
  margin-top: 4%;
  background-color: #1D1E2C;
  color: #D7CDCC;
  width: 15%;
  height: 300px;
  align-items: center;
  margin-left: 10%;
  font-size-adjust: inherit;
  vertical-align: middle;
  overflow: auto;
  white-space: nowrap;
  font-family: 'Roboto Mono', monospace;
}
div.categories a {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.categories a:hover {
  background-color: #777;
}
.trending{
  background-color: #1D1E2C;
  margin-top: 4%;
  width: 60%;
  height: 500px;
  color: #D7CDCC;
  margin-left: 10%;
  font-size-adjust: inherit;
  font-family: 'Roboto Mono', monospace;
  
}
.donateButton {
  background-color: #788BFF;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
a{
  color: #E0E2DB;
}
.footer{
  background-color: #788BFF;
  margin-top: 4%;
  color: #1D1E2C;
  width: 100%;
  height: 200px;
  font-family: 'Roboto Mono', monospace;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: inline-block;
}
img{
  width: 30%;
  height: 40%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App #intro{
  padding-top: 3%;
  font-size: 45px;
}

.summary p {
  font-size: 30px;
}

.summary button {
  width: 180px;
  height: 130px;
  padding: 20px;
}

#creditCardSelect button{
  width: 100px;
  height: 60px;
}

.cardNumbers {
  width: 5%;
  margin-right: 0.5%;
}
