body{
  background-color: #E0E2DB;
}
.header{
background-color: #1D1E2C;
color: #D7CDCC;
margin-left: 0%;
margin-top: 0%;
height: 75px;
font-size: 55px;
width: 100%;
font-size-adjust: inherit;
font-family: 'Roboto Mono', monospace;
}
.mainlayout{
display: flex;
flex-direction: row;
}
ul{
list-style-type: none;
float: center;
display: contents;
}
li {
margin-top: 5px;
margin-left: 30%;
align-content: center;
float: center;
}
.categories{
  margin-top: 4%;
  background-color: #1D1E2C;
  color: #D7CDCC;
  width: 15%;
  height: 300px;
  align-items: center;
  margin-left: 10%;
  font-size-adjust: inherit;
  vertical-align: middle;
  font-family: 'Roboto Mono', monospace;
}
.trending{
  background-color: #1D1E2C;
  margin-top: 4%;
  width: 60%;
  height: 500px;
  color: #D7CDCC;
  margin-left: 10%;
  font-size-adjust: inherit;
  font-family: 'Roboto Mono', monospace;
  
}
a{
  color: #E0E2DB;
}
.footer{
  background-color: #788BFF;
  margin-top: 4%;
  color: #1D1E2C;
  width: 100%;
  height: 75px;
  font-family: 'Roboto Mono', monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App #intro{
  padding-top: 3%;
  font-size: 45px;
}

.summary p {
  font-size: 30px;
}

.summary button {
  width: 180px;
  height: 130px;
  padding: 20px;
}

#creditCardSelect button{
  width: 100px;
  height: 60px;
}

.cardNumbers {
  width: 5%;
  margin-right: 0.5%;
}
